<p>
  <b>Group:</b>
  <%=h @personal.group_id %>
</p>

<p>
  <b>Family:</b>
  <%=h @personal.family_id %>
</p>

<p>
  <b>Login:</b>
  <%=h @personal.login %>
</p>

<p>
  <b>Password:</b>
  <%=h @personal.password %>
</p>

<p>
  <b>Full name:</b>
  <%=h @personal.full_name %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @personal.birthday %>
</p>

<p>
  <b>Sex:</b>
  <%=h @personal.sex %>
</p>

<p>
  <b>Blood:</b>
  <%=h @personal.blood %>
</p>

<p>
  <b>Weak kind:</b>
  <%=h @personal.weak_kind %>
</p>

<p>
  <b>Personal tel:</b>
  <%=h @personal.personal_tel %>
</p>

<p>
  <b>Job:</b>
  <%=h @personal.job %>
</p>

<p>
  <b>Good field:</b>
  <%=h @personal.good_field %>
</p>

<p>
  <b>Medical history:</b>
  <%=h @personal.medical_history %>
</p>

<p>
  <b>Icon path:</b>
  <%=h @personal.icon_path %>
</p>


<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>